@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark-pallet{
  background-color: #363A32;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.dark-pallet::before {
  background-color: #E0C9BA;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%;
  height: 100%;
}

.dark-pallet::after {
  background-color: #E0C9BA;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 33.33%;
  height: 100%;
  z-index: 0;
}